<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.LiYueZhe2019054505.myaccount">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAccount">
        <activity
            android:name=".activity_accounts"
            android:exported="true" />
        <activity
            android:name=".activity_detail"
            android:exported="true" />
        <activity
            android:name=".activity_createBill"
            android:exported="true" />
        <activity
            android:name=".p_startup.activity_normalStart"
            android:exported="true" />
        <activity
            android:name=".activity_index"
            android:exported="true" />
        <activity
            android:name=".p_startup.activity_firstStart"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>